@import "~src/variables";
@import "../../shared/scss/select";
// ACCOUNT INFO START
// header start
.header-row {
  padding: 2em 0;
  color: $colorGrey;
}
.header-row,
.wallet-item,
.wallet-info ul {
  display: flex;
}

.wallet-item,
.logo-wrapper,
.wallet-info ul {
  align-items: center;
}

.header-row {
  height: 7.25em;
}
.logo-wrapper {
  width: 12.75em;
  height: 100%;
  display: inherit;
  margin-right: 3em;
  img {
    width: 100%;
  }
}
.wallet-info {
  ul {
    height: 100%;
  }
  li {
    &:not(.more-wallet) {
      min-width: 10em;
    }
    margin: 0 1em;
  }
  .more-wallet {
    cursor: pointer;
  }
}
.wallet-item {
  .img-wrapper {
    width: 2.25em;
  }
  span {
    padding-left: .5em;
    text-transform: uppercase;
  }
}

.col-6 + .col-6 {
  justify-content: flex-end;
}
.notification-wrapper {
  display: inherit;
  width: 4em;
  border-right: 1px solid $colorGrey;
  i {
    color: $colorBlue;
  }
}
.balance-info {
  text-transform: uppercase;
  margin: 0 2.5em;
}
.balance-info,
.notification-wrapper {
  display: inherit;
  align-items: center;
}
// header end

// mobile header start
.header-row {
  &.mobile {
    display: none;
    padding: .5em;
    height: auto;
    justify-content: space-between;

    .logo-wrapper {
      margin-right: 0;
    }
    .app-wrapper {
      width: 5em;
      text-align: center;
      i {
        font-size: 3em;
      }
    }
    .mobile-menu {
      position: fixed;
      z-index: 999;
      top: 0;
      right: -100%;
      bottom: 0;
      width: 80%;
      background-color: $mainBgColor;
      transition: all.3s;

      &.open-menu {
        right: 0;
        transition: all.3s;
      }
    }
    .header-wrapper {
      background-color: $colorBlue;
      height: 10em;
      display: flex;
      align-items: center;
      color: white;
    }
    .close {
      position: absolute;
      top: 0;
      right: 0;
      i {
        font-size: 3em;
      }
    }
    .account-options {
      margin-top: 1em;
      width: 100%;
      padding: 1em;
      h1 {
        font-weight: 400;
      }
      ul {
        margin-top: 1em;
        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid white;
          border-radius: $border-radius;
          padding: .3em .5em;
          i {
            font-size: 1.75em;
          }
          p {
            font-size: 1.1em;
            text-align: center;
            width: 100%;
          }
        }
      }
    }
    .item-wrapper {
      padding: 1em;
    }
    .item-wrapper,
    .navigation-menu {
      ul {
        li {
          font-size: 1.1em;
          padding: .75em 0;
          &.active {
            color: $blueText;
          }
        }
      }
    }

    .children-item {
      border-right: 1px solid $colorGrey;
      background-color: #242930;
      height: 0;
      visibility: hidden;
      opacity: 0;
      transition: all .3s;

      &.colapsed {
        height: auto;
        visibility: visible;
        opacity: 1;
        transition: all .3s;
      }
      li {
        padding-left: 2em !important;
      }
    }
  }
}
// mobile header end

// navigation start
nav.navigation {
  height: 7em;
  .select-wrapper {
    width: 12em;
  }
  & > ul {
    padding: 1em 0 1em;
    align-items: center;
  }
  ul {
    height: inherit;
    display: flex;
    justify-content: space-between;
  }
  .button-wrapper {
    background-color: transparent;
    button {
      text-align: center;
      &.active {
        color: $colorBlue;
      }
    }
    img {
      width: 1em;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
// navigation end

.content {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: linear-gradient( 1deg, transparent, black, transparent);
  }
}
// ACCOUNT INFO END

@media screen and (max-width: 992px) {
  .header-row {
    display: none;
    &.mobile {
      display: flex;
    }
  }
  nav.navigation {
    display: none;
  }

}
@media screen and (max-width: 767px) {

}

/* FOOTER SRART */
footer {
  margin: 5.25em 0 1.75em;

  .container-row {
    display: flex;
    justify-content: space-between;
  }

  .logo-wrap {
    flex-direction: column;
    align-items: self-end;
    justify-content: center;
    font-size: .75em;

    div {margin-top: 1em}

    .rights {text-decoration: underline}
  }

  .col-6 {
    justify-content: space-between;
  }

  .col-6 {
    justify-content: space-between;

    & + .col-6 {
      & > div:not(:last-child) {margin-right: 3em}
    }
  }

  .logo-wrap,
  .logo-wrap a,
  .info-col li {
    color: rgba(255, 255, 255, 0.8)
  }

  .info-col {
    display: flex;
    flex-direction: column;

    &:last-child {margin-right: 1.25em}

    li {
      text-align: left;
      background-color: transparent;
      border: none;
      padding: .75em;
      border-radius: $border-radius;
      font-weight: 600;
      font-size: .75em;
      cursor: pointer;

      &:hover {
        background-color: #fff;
        color: $blueText;
      }
    }
  }

}

.soc-wrap {
  width: 16.25em;
  justify-content: center;
  display: inherit}

.soc-item {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 1.25em;

  p {padding: 0 0 0 .625em}
}

.visa-master {
  display: inherit;
  align-items: center;
  border-right: 1px solid $colorGrey;
  padding-right: 3em;
}

.app-walbtc {
  width: 8.75em;
  display: inherit;
  flex-direction: column
}

.app-walbtc {
  a:first-child img {transform: scale(1.13)}

  img {width: 100%}
}


/* FOOTER END */

@media screen and (max-width: 1024px) {
  footer .container-row {
    flex-direction: column;
    font-size: 1rem;
  }
  footer .col-6 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  footer {
    margin-top: 6em;
  }
  footer .col-6 {
    flex-direction: column;
  }
  footer .col-6 .logo-wrap {
    margin-bottom: 3em;
    margin-top: 5em;
  }
  footer .col-6 + .col-6 {
    margin-top: 3em;
  }
  .soc-wrap a {
    margin-left: 0;
  }
  .visa-master {
    margin-top: 3em;
  }
  .app-walbtc {
    flex-direction: row !important;
    justify-content: space-between;
    width: 100% !important;
    margin: 3em 0 0;
  }
  .app-walbtc a {
    width: 40%;
  }
}
