/* EXCHANGE-RATE START*/
@import "../../../shared/scss/toggle-btn-currency";

.balance-box {
  position: relative;
}

.balance-info {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}

ul {
  margin-top: 3em;
  padding: 0 2.5em;
}

.wrapper-info {
  display: flex;
  width: 12em;
  justify-content: start;
  align-items: center;
}

.currency-name {
  color: white;
  font-weight: 600;
}

li {
  margin-bottom: .75em;

  &:first-child {
    .currency-name::before {
      content: 'Название';
      color: rgba(255, 255, 255, 0.4);
      position: absolute;
      top: -3em;
    }

    .wrapper-info-statistic {

      .purchase-info::before {content: 'Покупка'}

      .sale-info::before {content: 'Продажа'}

      .dynamics-info::before {content: 'Динамика'}

      .currency-code-info::before {content: 'Код валюты'}

      div::before {
        color: rgba(255, 255, 255, 0.4);
        position: absolute;
        top: -3em;
        font-weight: 700;
        text-transform: initial;
      }
    }
  }
}

.current-info {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  height: 3.375em;
}

.wrapper-info-statistic {
  justify-content: space-evenly;
  display: inherit;
  width: 100%;

  div {
    &:not(:last-child) {
      width: 12em;
      color: black;
    }

    &:last-child {
      text-transform: uppercase;
      width: 2em;
      color: white;
    }

    span {
      border-radius: 2px;
      font-weight: 700;
      min-width: 9em;
      display: inline-grid;
      align-items: center;
      text-align: center;
      height: 1.85em;
    }

    &:not(.dynamics-info) span {
      background-color: #fff;
    }
  }
}
/* EXCHANGE-RATE END*/
