@import "~src/variables";

/* Balance start*/
.balace-wrapper {
  display: flex;
  justify-content: space-between;
}
.col-6  {
  width: calc(50% - .875em);
}
.currency-items {
  margin-top: 3em;
  width: 100%;
  li + li {
    margin-top: 1em;
  }
}
.item-row {
  border: 1px solid rgba(255,255,255,.4);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.375em;
}

.currency-score {
  color: white;
  text-align: end;

  span {
    border-radius: 3px;
    padding: 0 .25em;
    font-size: .8125em;
    vertical-align: middle;
    margin-right: 3.75em;
  }

}
.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.controls {
  display: flex;
  align-items: center;
}
.controls, .btn-current {
  height: inherit;
  font-size: 1em;
}
.btn-current {
  width: 3.75em;
  background-color: transparent;
  border-left: 1px solid rgba(255,255,255,.4);
  border-bottom: none;
  border-top: none;
  border-right: none;

  i {
      width: 1.4375em;
      color: $colorBlue;
    }

  &:hover {
      background-color: $colorBlue;
      cursor: pointer;
      i {
        color: white;
      }
    }
}
/* Balance end*/
