/*!* HISTRY START *!*/

.history-info {
  padding: 5.5em 3.5em;
}



.history-info.blance-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.history-info .container-coll-wrapper {
  margin-bottom: 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.history-info .wrapper-info,
.history-info .wrapper-status {
  display: inherit;
  padding: 0 1em; }

.history-info .wrapper-info {
  width: 50%;
  justify-content: space-between;
  line-height: 2.5em;
}
.wrapper-info .percent {
  //text-transform: uppercase;
}

.history-info .wrapper-status {
  width: 50%;
  justify-content: space-between;
}
.history-info .wrapper-status > *:not(:nth-child(1)) {
  width: 30%; }
.history-info .wrapper-status > div:nth-child(1) {
  padding: .5em 0;
  width: 40%; }

li {
  min-height: 2.5em;
  margin: 0 1.5em;
  color: white;
  position: relative;
  border: transparent;
  display: flex;
}
.history-info li:nth-child(2n+1) {
  background-color: rgba(255, 255, 255, 0.1); }
.history-info li:first-child {
  .wrapper-info div::before,
  .wrapper-status div::before {
    color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: -3.5em;
    font-weight: 700; }
}

.history-info li:first-child .operation-type::before {
  content: 'Операция'; }
.history-info li:first-child .summ::before {
  content: 'Сумма'; }
.history-info li:first-child .percent::before {
  text-transform: none;
  content: 'Процент'; }
.history-info li:first-child .requisites::before {
  content: 'Реквизиты'; }
.history-info li:first-child .coment-info::before {
  content: 'Коментарий';
  top: -2.7em !important;
}
.history-info li:first-child .status-info::before {
  content: 'Статус'; }
.history-info li:first-child .data-info::before {
  content: 'Дата'; }

.history-info .operation-type {
  display: inherit;
  width: 40%; }
.history-info .operation-type i {
  margin-right: .75em;
  width: 1.1875em;
  line-height: unset !important;
}

.history-info .status-info {
  width: 15% !important;
  text-align: left; }

.history-info .data-info {
  text-align: right; }
.status-info,
.data-info {
  line-height: 2.5em;
}
/*!* HISTRY END *!*/
