/*!* HISTRY START *!*/

.history-info {padding: 5.5em 3.5em}

.blance-box {flex-direction: column}

.container-coll-wrapper {
  margin-bottom: 3em;
  display: flex
}

.wrapper-info,
.wrapper-status {
  display: inherit;
  padding: 0 1em
}

.wrapper-info {
  width: 50%;
  justify-content: space-between;
  line-height: 2.5em
}
.wrapper-info .percent {
  //text-transform: uppercase;
}

.wrapper-status {
  width: 50%;
  justify-content: space-between;

  & > *:not(:nth-child(1)) {
    //width: 30%
  }

  & > div:nth-child(1) {
    padding: .5em 0;
    width: 40%
  }
}

ul {
  height: 25em;
  overflow: auto;
}

li {
  min-height: 2.5em;
  margin: 0 1.5em;
  color: white;
  position: relative;
  border: transparent;
  display: flex;

  &:first-child {

    .wrapper-info div::before,
    .wrapper-status div::before {
      color: rgba(255, 255, 255, 0.4);
      position: absolute;
      top: -3.5em;
      font-weight: 700
    }

    .operation-type::before {content: 'Операция'}

    .summ::before {content: 'Сумма'}

    .percent::before {
      text-transform: none;
      content: 'Процент'
    }
    .requisites::before {content: 'Реквизиты'}

    .coment-info::before {
      content: 'Коментарий';
      top: -2.7em !important;
    }

    .status-info::before {content: 'Статус'}

    .data-info::before {content: 'Дата'}
  }

  &:nth-child(2n+1) {background-color: rgba(255, 255, 255, 0.1)}
}


.operation-type {
  display: inherit;
  width: 40%;

  i {
    margin-right: .75em;
    width: 1.1875em;
    line-height: unset !important;
    font-size: 1.7em;
  }
}

.status-info {
  width: 15%;
  text-align: left
}

.data-info {text-align: right}

.status-info,
.data-info {
  line-height: 2.5em;
}
/*!* HISTRY END *!*/
