/* You can add global styles to this file, and also import other style files */
@import "variables";

*  {
  box-sizing: border-box;
}

body {
  //font: normal 400 $fontSize/1 $fontFamily, sans-serif;
  font-family: $fontFamily, sans-serif;
  font-size: $fontSize;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  background: $bgColor $mainBgImg center top / cover no-repeat fixed;
  margin: 0;
  padding: 0;
  height: 100vh;
}

ul, h1, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  &:active, &:focus {
    outline: none;
  }
}

.container {
  width: $containerWidth;
  margin: 0 auto;
  padding: 0 3em;
}

.img-wrapper img {
  width: 100%;
}

i{
  color: white;
  font-size: 1.75em !important;
}

.btn {
  background-color: transparent;
  color: white;
  cursor: pointer;
  &-default {
    border: none;
  }
  :active,
  &:focus {
    outline: none;
  }
}

.box-shadow {
  box-shadow: $box-shadow;
}

.main {
  height: 53.125em;
  background-color: $mainBgColor;
}

.col-6 {
  display: flex;
  width: 50%;
}

.green {background-color: $colorGreen}

.red {background-color: $ÑolorRed}

.orangetext {color: $colorOrange}

.greentext {color: $greenText}

.redtext {color: $redText}

.bluetext {color: $blueText}

.currency-label {
  height: 3.3em;
  width: 2.75em;
  background: white;
  position: relative;

  &:before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    left: 2.75em;
    top: 0;
    border-bottom: 1.6em solid transparent;
    border-left: 1.25em solid white;
    border-top: 1.7em solid transparent;
  }

  img {
    position: absolute;
    transform: translateY(50%) translateX(50%);
    bottom: 50%;
    right: 50%;
    width: 1.3125em;
  }

  & + .currency-name {
    margin-left: 2em;
    color: white;
    font-size: .9375em;
    font-weight: 700;
  }
}

.ngx-pagination li {
  font-size: 1.5em;
}
.pagination .current,
.ngx-pagination a,
.ngx-pagination button,
.ngx-pagination .disabled,
.ngx-pagination.responsive .small-screen {
  color: white !important;
  //font-size: 1.5em;
  outline: none;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  padding: 2em;
}

@media screen and (max-width: 992px){
  body {
    font-size: 1rem;
  }

  .container {
    width: 100%;
    padding: 0 .5em;
  }
  .main {
    height: auto;
  }
}

perfect-scrollbar {
  > .ps.ps--active-y > .ps__rail-y {
    //width: 1px !important;
    //right: 6px !important;
    //background-color: transparent;
  }
  .ps__thumb-y {
    //right: -7px;
  }
}
